.env
venv
__pycache__
.idea
.vscode
env
myenv
post_files
profile_pictures
static
media
migrations
*/migrations/*
*/migrations/
apps/*/migrations/*
apps/*/migrations/
!apps/media/profile_pictures/default_profile_picture.png

